<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x.uts290917">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wondelful_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wondelful_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".provinsi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".details" />
        <activity android:name=".kota">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".kuliner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".wisata">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
    </application>

</manifest>